.card-packer {
  text-align:center;
}

.card-shower:hover {
  box-shadow: 0 0 15px #ff0; border:1px solid orange;
}

.card-lighter {
  box-shadow: 0 0 15px #ff0; border:1px solid orange;
}

.card-image {
  margin: 2px;
}

.card-container {
  display: flex;
  padding-right: 0;
  justify-content: flex-end;
  box-sizing: border-box;
}
.card-container .card-image-packer {
  margin: 0 calc(((75% / 25) - 12px) + 5%);
  min-width: 75px;
  width: 177px;
}
.card-container .card-image-packer:last-child {
  margin-right: 0;
}
