.present-cards-3 {

}

.present-cards-6 {

}

.present-cards-8 {

}

.card-packer {
  text-align:center
}

.card-shower:hover {
  box-shadow: 0 0 15px #ff0; border:1px solid orange;
}

.card-lighter {
  box-shadow: 0 0 15px #ff0; border:1px solid orange;
}
