<div class="present-cards-{{this.cards.length}} row">

  <div *ngIf="this.cards.length % 2 == 0; then oddblock else evenblock"></div>
    <ng-template #evenblock>
      <div class="col" *ngFor="let id of this.cards" >
        <div class="card-packer">
          <img class="card-shower" src="https://ygo233.my-card.in/ygopro/pics/{{id}}.jpg" (mouseenter)="this.mouseEnterCard(id)" (click)="this.selectCard(id)" />
        </div>
      </div>
    </ng-template>
    <ng-template #oddblock>
      <div class="card-packer col">
        <div class="col" *ngFor="let id of this.sideCards(0)" >
          <img [ngClass]="this.mouseOnSide == -1 ? 'card-lighter' : ''"
               src="https://ygo233.my-card.in/ygopro/pics/{{id}}.jpg"
               (mouseenter)="this.mouseEnterCard(id, -1)"
               (mouseleave)="this.mouseLeaveCard()"
               (click)="this.selectCard(id)" />
        </div>
      </div>
      <div class="card-packer col">
        <div class="col" *ngFor="let id of this.sideCards(1)" >
          <img [ngClass]="this.mouseOnSide == 1 ? 'card-lighter' : ''"
               src="https://ygo233.my-card.in/ygopro/pics/{{id}}.jpg"
               (mouseenter)="this.mouseEnterCard(id, 1)"
               (mouseleave)="this.mouseLeaveCard()"
               (click)="this.selectCard(id)" />
        </div>
      </div>
    </ng-template>
</div>
